ShoppingServiceProject/ShoppingComposite/SOA/Schemas/Vendedor.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ShoppingServiceProject/ShoppingComposite/Vendedor"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="VendedorRequestMessage">
		<complexType>
			<sequence>
				<element name="oferta_comprador" type="float"/>
			</sequence>
		</complexType>
	</element>
	<element name="VendedorResponseMessage">
		<complexType>
			<sequence>
				<element name="oferta_vendedor" type="float"/>
			</sequence>
		</complexType>
	</element>
</schema>